@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.Intro{
background: url("https://unsplash.com/photos/eVa2FK83K6w")
}

.section{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.avatar {
    width: 200px;
    border-radius: 100px;
}

.social-media {
    font-size: 30px;
    color: white;
    margin-left: 10px;
    margin-rigt: 10px;
    transition: 0.5s;


}
